<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old-School Internet Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="search-container">
        <form action="/" method="post">
            <div class="form-flex-container">
                <input type="text" name="search" placeholder="Type your query..." autofocus>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div id="resultsContainer">
        {% for result in results %}
            <a href="https://{{ result.url }}" target="_blank" class="tweet-card">
                <div class="tweet-content">
                    <p>{{ result.text }}</p>
                    <!-- Check if there are multiple images -->
                    {% if result.media_urls and result.media_urls|length > 1 %}
                        <div class="tweet-images-container">
                            <!-- Display each image in a square -->
                            {% for image_url in result.media_urls %}
                                <img src="{{ image_url }}" alt="Tweet Image" class="tweet-image">
                            {% endfor %}
                        </div>
                    {% elif result.media_urls %}
                        <!-- If only one image, display it in its original aspect ratio -->
                        <img src="{{ result.media_urls[0] }}" alt="Tweet Image" class="single-tweet-image">
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>
